[submodule "OpenDB"]
	path = submodule/OpenDB
	url = https://github.com/ApeachM/OpenDB
[submodule "CImg"]
	path = submodule/CImg
	url = https://github.com/GreycLab/CImg.git
[submodule "igraph"]
	path = submodule/igraph
	url = https://github.com/igraph/igraph.git
[submodule "KaHyPar"]
	path = submodule/kahypar
	url = https://github.com/kahypar/kahypar.git
